<footer class="beautypress-footer-section-v2">
        <div class="beautypress-footer-content-v2">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="beautypress-single-footer-v2">
                            <div class="beautypress-footer-logo-v2">
                                <a href="/">
                                    <img src="./src/assets/img/footer-logo.png" alt="">
                                </a>
                            </div>
                            <p>
                                    expérience premium
                            </p>
                            <ul class="beautypress-social-list beautypress-version-3">
                                <li><a href="https://www.facebook.com/Lileospa" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul><!-- .beautypress-social-list END -->
                        </div><!-- .beautypress-single-footer-v2 END -->
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="beautypress-single-footer-v2">
                            <div class="beautypress-footer-heading">
                                <h3>Des pages</h3>
                            </div>
                            <ul class="beautypress-footer-link">
                                <li><a routerLink="/app-home">Accueil</a></li>
                                <li><a class="pointer" (click)="setReservationType(ReservationType.Care)">Nos soins</a></li>
                                <li><a routerLink="/app-home/gift-card">Carte cadeau</a></li>
                                <li><a routerLink="/app-home/contact">Contact</a></li>
                                <li><a routerLink="/app-home/app-login">S'identifier/S'enregistrer</a></li>
                            </ul>
                        </div><!-- .beautypress-single-footer-v2 END -->
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="beautypress-single-footer-v2">
                            <div class="beautypress-footer-heading">
                                <h3>Liens rapides</h3>
                            </div>
                            <ul class="beautypress-footer-link">
                                <li><a href="#">termes et conditions</a></li>
                                <li><a href="#">Politique de confidentialité</a></li>
                                
                            </ul>
                        </div><!-- .beautypress-single-footer-v2 END -->
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center"
            style="padding: 1rem 0; background-color: #1E1E1E; border-top: 1px solid #353535;color: #d2d2d2;">
            <p>L'lle O Spa &copy; Politique de confidentialité</p>
        </div><!-- .beautypress-footer-content-v2 END -->
        <!-- Back to top -->
        <div class="beautypress-back-to-top-wraper beautypress-version-2">
            <a href="#" class="beautypress-btn-2 beautypress-iocn-btn full-round-btn back-to-top"><i
                    class="fa fa-angle-up"></i></a>
        </div><!-- .beautypress-back-to-top-wraper END -->
        <!-- Back to top -->
    </footer><!-- .beautypress-footer-section-v2 END -->
