    <!-- Contact us form section -->
    <section class="beautypress-contact-us-section bg-color-pink" style="padding: 10rem 0 2rem;">
            <div class="container">
                <div class="beautypress-contact-wraper beautypress-version-2">
                    <div class="row">
                        <div class="col-sm-12 col-lg-8 col-xl-8">
                            <div class="beautypress-contact-form">
                                <h2>Entrer en contact</h2>
                                <form action="#" method="POST" id="beautypress-contact">
                                    <div class="beautypress-spilit-container">
                                        <div class="input-group">
                                            <input type="text" name="name" id="c_name"  [(ngModel)]="name" placeholder="Your name">
                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                        </div>
                                        <div class="input-group">
                                            <input type="email" name="email" id="c_email"  [(ngModel)]="email" placeholder="Your email">
                                            <div class="input-group-addon"><i class="xsicon icon-envelope5"></i></div>
                                        </div>
                                    </div><!-- .beautypress-spilit-container END -->
                                    <div class="input-group">
                                        <input type="text" name="subject" id="c_subject"  [(ngModel)]="subject" placeholder="Subject">
                                        <div class="input-group-addon">@</div>
                                    </div>
                                    <div class="input-group">
                                        <textarea name="massage" id="c_massage" cols="30" rows="10"
                                            placeholder="Your comments"  [(ngModel)]="comment"></textarea>
                                        <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                                    </div>
                                    <input type="submit" value="submit" id="c_submit" (click)="save()">
                                </form><!-- #beautypress-contact END -->
                            </div><!-- .beautypress-contact-form END -->
                        </div>
                        <div class="col-sm-12 col-lg-4 col-xl-4">
                            <div class="beautypress-contact-details bg-color-purple">
                                <div class="beautypress-separetor-sub-heading beautypress-version-2">
                                    <h2>Vos commentaires</h2>
                                </div><!-- .beautypress-separetor-sub-heading END -->
                                <ul class="beautypress-icon-with-text">
                                    <li>Centre Tournai</li>
                                    <li><i class="fa fa-map-marker"></i>Rue Vauban 9, 7500 Tournai, Belgique</li>
                                    <li><i class="xsicon icon-phone3"></i>+32 56 33 67 87</li>
                                    <li><b>Centre Mouscron</b></li>
                                    <li><i class="fa fa-map-marker"></i>Rue du Christ 80, 7700 Mouscron Belgique</li>
                                    <li><i class="xsicon icon-phone3"></i>0032 (0) 69301299</li>
                                    <li><i class="fa fa-facebook"></i><a href="https://www.facebook.com/Lileospa" class="link-f" target="_blank">facebook</a></li>
                                </ul><!-- .beautypress-icon-with-text END -->
                            </div><!-- .beautypress-contact-details END -->
                        </div>
                    </div>
                </div><!-- .beautypress-contact-wraper END -->
            </div>
        </section><!-- .beautypress-contact-us-section END -->
