<section class="main-form">  
        <div class="login-page">
            <div class="form">
              <form class="login-form">
                <label>Réinitialiser le mot de passe</label>
                <div class="form-group" >
                        <show-hide-password size="md" icon="empty">
                        <input type="password" required class="form-control" id="password" name="password" placeholder="Enter new  password" [(ngModel)]="password">
                        </show-hide-password>
                </div>         
                <div class="form-group">
                        <show-hide-password size="md" icon="empty">
                        <input type="password" required class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm password" [(ngModel)]="confirmpassword">
                        </show-hide-password>
                </div>
                <button type="submit" class="btn btn-primary float-right" (click)="resetPassword()">Confirmer</button>
                <p class="message"> <a routerLink="/app-home/app-login">s'identifier</a></p>
              </form>
            </div>
          </div>
    </section>