<section class="main-form">
   
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <label *ngIf="!codeSent">Entrez votre e-mail</label>
            <label *ngIf="codeSent" >Vérification OTP</label>
            <p *ngIf="!codeSent">OTP sera envoyé à votre adresse e-mail enregistrée</p>
            <input id="forgetAnswer" name="forgetAnswer" placeholder="Entrer votre Email"  type="text" [(ngModel)]="email" required/>                   
            <input *ngIf="codeSent" id="tmpCode" name="tmpCode" placeholder="Entrez OTP" class="form-control"  type="text" [(ngModel)]="tmpCode" />
            <button *ngIf="!codeSent" (click)="generateEmail()">Envoyer OTP</button>
            <button *ngIf="codeSent" (click)="checkTmpCode()">Vérifier</button>
            <p class="message"> <a routerLink="/app-home/app-login">s'identifier</a></p>
          </form>
        </div>
      </div>
</section>
