<!-- <div id="preloader">
    <div class="preloader-window left-window"></div>
    <div class="preloader-window right-window"></div>
    <div class="preloader-content" style="width: 25rem;">
        <img src="./assets/img/footer-logo.png" alt="">
        <h2>l'lle O Spa</h2>
    </div>
    <div class="spinner-block">
        <div class="spinner-eff spinner-eff-3">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
            <div class="circle circle-3"></div>
        </div>
    </div>
</div> -->
<app-header [userLogged]="userLogged" [userName]="userName"></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
